<footer class="footer mt-6">
  <div class="content has-text-centered">
    <p>
    	For Just &#8369;99! You could be what you want. <br>
      <strong>RJ I.T. Programming E-books</strong> <br>
      &copy; 2020 
    </p>
  </div>
</footer>

<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="/js/index.js"></script>

</body>
</html>